.countries-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 16px;
  padding: 16px;
}
@media screen and (max-width: 768px) {
  .countries-grid {
    grid-template-columns: repeat(2,1fr);
    gap: 8px;
    padding: 8px;
  }
}